.content {
  display: flex;
}
.images {
  height: 85vh;
  width: 20%;
}
.im {
  width: 100%;
}
.im:hover {
  -moz-transform: scale(1.03);
  -webkit-transform: scale(1.03);
  transform: scale(1.03);
}
.drawing-1 {
  background: url(./images/drawing-1.jpg);
  background-size: 254%;
  background-position: -251px;
}
.drawing-2 {
  background: url(./images/drawing-2.jpg);
  background-size: 276%;
  background-position: left -147px top -10px;
}
.drawing-3 {
  background: url(./images/drawing-3.jpg);
  background-size: 200%;
  background-position: left -200px top -10px;
}
.drawing-4 {
  background: url(./images/drawing-4.jpg);
  background-size: 408%;
  background-position: left -563px top -95px;
}
.drawing-5 {
  background: url(./images/drawing-5.jpg);
  background-size: 368%;
  background-position: left -263px top -105px;
}

/********* Cubes **********/

.cubes div {
  height: 150px;
  width: 150px;
  position: relative;
}

.blueCube {
  background-color: blue;
  position: absolute;
}

.redCube {
  background-color: red;
  position: absolute;
}



@keyframes slide {
  0% {
    left: 0;
    top: 0;
  }
  /*50% {
    left: 25%;
    top: -25vh;
  }*/
  100% {
    left: calc(50% - 75px);
    top: calc(-50vh + 75px);
  }
}

.redCube:hover {
  animation: slide 1s ease-in-out forwards;
  /*animation-delay: .5s;*/
}

